<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Appunto Web Admin</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='web/img/logo_appunto.png') }}" rel="icon">
  <!-- Libraries & Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='web/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='web/css/style.css') }}" rel="stylesheet">
</head>

<body>
  <!--==========================
    Section Body
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">
        <form action="/wa_change_password" method="POST" enctype="multipart/form-data">
          {% if status == "0" %}  
            <div class="alert alert-success" role="alert">
              El password se cambió de manera exitosa!
            </div>
          {% endif %}
          {% if status == "1" %}  
            <div class="alert alert-danger" role="alert">
              Usuario y/o Password incorrecto!
            </div>
          {% endif %}
          {% if status == "2" %}  
            <div class="alert alert-danger" role="alert">
              El password nuevo no coincide con el password de confirmación!
            </div>
          {% endif %}
            <div class="card-header">
                Ingresa los datos para cambiar el <strong>password actual.</strong>
            </div>
            <br>
            <div class="form-group">
              <label for="idTxtUsusario">Usuario :</label>
              <input type="text" class="form-control" id="idTxtUsusario" name="idTxtUsusario" required>
            </div>
            <div class="form-group">
              <label for="idTxtPassword">Password Actual:</label>
              <input type="password" class="form-control" id="idTxtPassword" name="idTxtPassword" required>
            </div>
            <div class="form-group">
              <label for="idTxtNewPassword">Nuevo Password :</label>
              <input type="password" class="form-control" id="idTxtNewPassword" name="idTxtNewPassword" required>
            </div>
            <div class="form-group">
              <label for="idTxtConfirmNewPassword">Confirmar Password :</label>
              <input type="password" class="form-control" id="idTxtConfirmNewPassword" name="idTxtConfirmNewPassword" required>
            </div>
            <button type="submit" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            <a class="btn btn-dark" href="{{ url_for('wa_login') }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ir a Login&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>  
        </form>
    </div>
  </section><!-- #intro -->


  <!-- JavaScript Libraries -->

</body>
</html>
