<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Appunto Web Admin</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='web/img/logo_appunto.png') }}" rel="icon">
  <!-- Libraries & Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='web/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='web/css/style.css') }}" rel="stylesheet">
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <a  class="scrollto"><img src="{{ url_for('static', filename='web/img/logo_appunto.png') }}" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a href="{{ url_for('wa_list_services') }}">Servicios</a></li>
          <li class="active"><a href="{{ url_for('wa_list_sub_services') }}">Sub Servicios</a></li>
          <li><a href="{{ url_for('wa_dashboard') }}" >Dashboard</a></li>
          <li><a href="{{ url_for('wa_dashboard') }}" >Salir</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Section Body
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-info">
        <h2>[ Lista de Sub Servicios ]</h2>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <section id="clients" class="">

      <div class="container">
        <div >
          <form  action="/wa_list_sub_services" method="GET" enctype="multipart/form-data">
            <div class="form-group">
              <label for="iSlServicio">Servicio:</label>
              <select class="custom-select" id="iSlServicio" name="iSlServicio" required>
                 <option value="0" selected>-Todos-</option>
                {% for data_service in data_services %}
                  <option value="{{ data_service.id }}">{{ data_service.full_name }}</option>
                {% endfor %}
              </select>
            </div>
            <div>
              <input  class="btn btn-dark"  type="submit" value="Buscar">          
            </div>
          </form>
          <br>
        </div>
        <div class="row_grilla">

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Servicio</th>
                <th scope="col">Sub Servicio</th>
                <th scope="col">En Filtro</th>
                <th scope="col">Estado</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>
            <tbody>
              {% for data_sub_service in data_sub_services %}
              <tr>
                <th scope="row">{{ data_sub_service.id }}</th>
                <td>{{ data_sub_service.service }}</td>
                <td>{{ data_sub_service.full_name }}</td>
                <td>
                  {% if data_sub_service.in_filter == 1 %}
                    <img height="20px" src="{{ url_for('static', filename='web/img/enabled.png') }}">
                    {{ 'Si' }}
                  {% else %}
                    <img height="20px" src="{{ url_for('static', filename='web/img/disabled.png') }}">
                    {{ 'No' }}
                  {% endif %}
                </td>
                <td>
                  {% if data_sub_service.status == 1 %}
                    <img height="20px" src="{{ url_for('static', filename='web/img/enabled.png') }}">
                    {{ 'Habilitado' }}
                  {% else %}
                    <img height="20px" src="{{ url_for('static', filename='web/img/disabled.png') }}">
                    {{ 'Deshabilitado' }}
                  {% endif %}
                </td>
                <td>
                  <a href="{{ url_for('wa_sub_services',index = data_sub_service.id ) }}">
                    <img height="20px" src="{{ url_for('static', filename='web/img/edit.png') }}">
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>

        <div><a class="btn btn-primary"  href="{{ url_for('wa_sub_services') }}">Agregar Sub Servicio</a></div>

      </div>

    </section>

  </main>

  <!--==========================
    Footer
  ============================-->

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Soporte</h4>
            <p>
              <strong>Celular:</strong> 955274509<br>
              <strong>Email:</strong> pierjv1@gmail.com<br>
              <strong>Appunto-JPV-Google Cloud Platform</strong> 
            </p>

          </div>

        </div>
      </div>
    </div>
  </footer><!-- #footer -->


  <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='web/lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='web/lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='web/js/main.js') }}"></script>

</body>
</html>
