<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Appunto Web Admin</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='web/img/logo_appunto.png') }}" rel="icon">
  <!-- Libraries & Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='web/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='web/css/style.css') }}" rel="stylesheet">
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <a  class="scrollto"><img src="{{ url_for('static', filename='web/img/logo_appunto.png') }}" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="{{ url_for('wa_list_services') }}">Servicios</a></li>
          <li><a href="{{ url_for('wa_sub_services') }}" href="#about">Sub Servicios</a></li>
          <li><a href="{{ url_for('wa_dashboard') }}" >Dashboard 1</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Section Body
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-info">
        <h2>[ Módulo de Servicios ]</h2>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <section id="clients" class="">

      <div class="container">

        <div class="section-header">
          <h3>Agregar y/o Modificar Datos</h3>
        </div>


        <div >
          <form  action="/wa_services" method="POST" enctype="multipart/form-data">

            {% if service %}
              <div class="form-group">
                <label for="idTxtFullName">Nombre Completo:</label>
                <input type="text" class="form-control" id="idTxtFullName" name="idTxtFullName"  placeholder="servicio" value="{{ service.full_name }}" required >
              </div>
              <div class="form-group">
                <label for="idtxtColor">Color:</label>
                <input type="text" class="form-control" id="idtxtColor" name="idtxtColor" placeholder="#FFFFFF" value="{{ service.color }}" required >
              </div>
              <div class="form-group">
                <label for="idFileImage">Imagen:</label>
                <input type="file" class="form-control-file" id="idFileImage" name="idFileImage" required>
                <br>
                <img src="data:image/png;base64, {{ service.file_image }}" />
              </div>
            {% else %}
              <div class="form-group">
                <label for="idTxtFullName">Nombre Completo:</label>
                <input type="text" class="form-control" id="idTxtFullName" name="idTxtFullName"  placeholder="servicio" required  >
              </div>
              <div class="form-group">
                <label for="idtxtColor">Color:</label>
                <input type="text" class="form-control" id="idtxtColor" name="idtxtColor" placeholder="#FFFFFF" required >
              </div>
              <div class="form-group">
                <label for="idFileImage">Imagen:</label>
                <input type="file" class="form-control-file" id="idFileImage" name="idFileImage" required>
              </div>
            {% endif %}

            <div><input  class="btn btn-primary"  type="submit" value="Guardar Datos"></div>
          </form>

        </div>


      </div>

    </section>

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Soporte</h4>
            <p>
              <strong>Celular:</strong> 955274509<br>
              <strong>Email:</strong> pierjv1@gmail.com<br>
              <strong>Appunto-JPV-Google Cloud Platform</strong> 
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- #footer -->


  <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='web/lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='web/lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='web/js/main.js') }}"></script>

</body>
</html>
