<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Appunto Web Admin</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='web/img/favicon.png') }}" rel="icon">

  <link href="{{ url_for('static', filename='web/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='web/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename='web/lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='web/lib/animate/animate.min.css') }}"  rel="stylesheet">
  <link href="{{ url_for('static', filename='web/lib/ionicons/css/ionicons.min.css') }}"  rel="stylesheet">
  <link href="{{ url_for('static', filename='web/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='web/lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='web/css/style.css') }}" rel="stylesheet">

</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="{{ url_for('static', filename='web/img/logo_appunto.png') }}" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="{{ url_for('wa_services') }}">Servicios</a></li>
          <li><a href="{{ url_for('wa_sub_services') }}" href="#about">Sub Servicios</a></li>
          <li><a href="{{ url_for('wa_dashboard') }}" >Dashboard 1</a></li>
          <li><a href="{{ url_for('wa_dashboard') }}" >Dashboard 2</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-info">
        <h2>[ Módulo de Servicios ]</h2>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container-fluid">

        <div class="row wow fadeInUp">

          <div class="col-lg-6">

            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-left"><button type="submit" title="Send Message">Guardar</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Soporte</h4>
            <p>
              <strong>Celular:</strong> 955274509<br>
              <strong>Email:</strong> pierjv1@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Appunto <strong>-JPV-</strong> Google Cloud Platform
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='web/lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='web/lib/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='web/lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='web/lib/easing/easing.min.js') }}" ></script>
  <script src="{{ url_for('static', filename='web/lib/mobile-nav/mobile-nav.js') }}" ></script>
  <script src="{{ url_for('static', filename='web/lib/wow/wow.min.js') }}" ></script>
  <script src="{{ url_for('static', filename='web/lib/waypoints/waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='web/lib/counterup/counterup.min.js') }}" ></script>
  <script src="{{ url_for('static', filename='web/lib/owlcarousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='web/lib/isotope/isotope.pkgd.min.js') }}" ></script>
  <script src="{{ url_for('static', filename='web/lib/lightbox/js/lightbox.min.js') }}" ></script>
  <!-- Contact Form JavaScript File -->
  <script src="{{ url_for('static', filename='web/contactform/contactform.js') }}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ url_for('static', filename='web/js/main.js') }}"></script>

</body>
</html>
