<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Appunto Web Admin</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='web/img/logo_appunto.png') }}" rel="icon">
  <!-- Libraries & Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='web/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='web/css/style.css') }}" rel="stylesheet">
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{{ url_for('wa_list_services') }}">Appunto</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('wa_list_services') }}">Servicios</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('wa_list_sub_services') }}">Sub Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('wa_dashboard') }}">Dashboard</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('wa_list_users') }}">Usuarios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('wa_push_notification') }}">Notificaciones</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('wa_coupon') }}">Cupones</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('wa_logout') }}">Salir</a>
                  </li>
              </ul>
          </div>
      </nav>
  </header>
  
  <!-- #header -->

  <main id="main">

    <section id="intro" class="clearfix">
      <div class="container">
        {% if status == '1' %}
          <div class="alert alert-success" role="alert">
            Se Confirmó el registro del Usuario y se envió un SMS a su celular.
          </div> 
        {% else %}
          <div class="alert alert-danger" role="alert">
            Se Rechazó el registro del Usuario y se envió un SMS a su celular.
          </div> 
        {% endif %} 
        
        
        <a class="btn btn-dark" href="{{ url_for('wa_list_users') }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ir a solicitudes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>  
      </div>
      <br>
    </section>

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Soporte</h4>
            <p>
              <strong>Celular:</strong> 955274509<br>
              <strong>Email:</strong> pierjv1@gmail.com<br>
              <strong>Appunto-JPV-Google Cloud Platform</strong> 
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- #footer -->


  <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='web/lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='web/lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='web/js/main.js') }}"></script>

</body>
</html>
